<h3><i class="fas fa-mail-bulk"></i>E-Agent<i class="fas fa-paper-plane"></i></h3>
<div class="section">
    <p class="lead">Schedule and send your emails</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log in With Google
    </a>
</div>